<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs")%>


<body class="d-flex flex-column min-vh-100">

    <!-- <%- include("./partials/nav.ejs")%> -->

<div id="banner_home" class="text-left">
    <!-- <%- include("./partials/nav.ejs")%> -->
    <%- include("./partials/nav-transparent.ejs")%>
    <p class="banner-bottom display-4">Our vision is to be the preferred 
        <br> dental clinic of all the clients we serve <br>
        <a href="/" class="bookBTN mt-3 text-decoration-none">BOOK AN APPOINTMENT</a>
    </p>
</div>

<div class="text-center">
    <p class="display-4 fw-bold">SERVICIO</p>
    <div class="d-sm-flex">
        <div>
            <img src="https://cdn.pixabay.com/photo/2021/09/06/08/59/dentist-6601202_960_720.png" class="img-fluid" alt=""><br>
            <span class="display-6 fw-bold">Basic Dental Services</span><br>
            <a href="" class="viewServicesBTN">View Services</a>
        </div>
        <div>
            <img src="https://cdn.pixabay.com/photo/2021/09/06/08/59/dentist-6601202_960_720.png" class="img-fluid" alt=""><br>
            <span class="display-6 fw-bold">Specialized Services</span><br>
            <a href="" class="viewServicesBTN">View Services</a>
        </div>
    </div>
</div>

<div class="">
    <p class="display-4">SLIDESHOW</p>
</div>

<div class="lookingForDentist">
    <div class="lookingForDentistSub">
        <div>
            <p><span>Looking for a Dentist?</span><br><br> Book a FREE Consultation</p>
        </div>
        <div id="lookingForDentistBTN"><a href="" class="bookBTN">Book Now!</a></div>
    </div>
</div>

<%- include("./partials/footer.ejs")%>
<script src="/styles.js"></script>
</body>
</html>